.layout img {
  margin: auto;
  max-width: 98%;
  display: block;
  height: auto;
}

.layout h1,
.layout h2 {
  text-align: center;
}

.profileImageContainer {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.profileImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
